<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T1 de Joaquin Castillo - SWAPI ulala</title>
</head>
<body>
{% if film and characters and starships and planets %}


    <table style="width:100%">
        <tr>
          <th>Titulo:</th>
          <td>{{ film.title }}</td>
        </tr>
        <tr>
          <th>Episode:</th>
          <td>{{ film.episode_id }}</td>
        </tr>
        <tr>
          <th>Director:</th>
          <td>{{ film.director }}</td>
        </tr>
        <tr>
            <th>Productor(es):</th>
            <td>{{ film.producer }}</td>
        </tr>
        <tr>
            <th>Fecha de lanzamiento:</th>
            <td>{{ film.release_date }}</td>
        </tr>
        <tr>
            <th>Starships:</th>
            {% for ship in starships.items %}
                <td>
                {{  ship.1 }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>Personajes:</th>

            {% for char in characters.items %}
                <td>
                {{  char.1 }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>Planetas:</th>
            {% for planet in planets.items %}
                <td>
                {{  planet.1 }}
                </td>
            {% endfor %}
        </tr>
    </table>

    <ul style="list-style-type:circle;">
    {% for c in characters %}
      <li>{{ c.1 }}</li>
    {% endfor %}
    </ul>

{% endif %}

</body>
</html>