<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T1 de Joaquin Castillo - SWAPI ulala</title>
</head>
<body>
{% if film %}


    <table style="width:100%">
        <tr>
          <th>Titulo:</th>
          <td>{{film.title}}</td>
        </tr>
        <tr>
          <th>Episode:</th>
          <td>555 77 854</td>
        </tr>
        <tr>
          <th>Director:</th>
          <td>555 77 855</td>
        </tr>
        <tr>
            <th>Productor(es):</th>
            <td>555 77 855</td>
        </tr>
        <tr>
            <th>Fecha de lanzamiento:</th>
            <td>555 77 855</td>
        </tr>
        <tr>
            <th>Starships:</th>
            <td>555 77 855</td>
        </tr>
        <tr>
            <th>Personajes:</th>
            <td>555 77 855</td>
        </tr>
        <tr>
            <th>Planetas:</th>
            <td>555 77 855</td>
        </tr>
    </table>
{% endif %}

</body>
</html>