<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T1 de Joaquin Castillo - SWAPI ulala</title>
</head>
<body>
{% if film and characters and starships and planets %}


    <table style="width:100%">
        <tr>
          <th>Titulo:</th>
          <td>{{ film.title }}</td>
        </tr>
        <tr>
          <th>Episode:</th>
          <td>{{ film.episode_id }}</td>
        </tr>
        <tr>
          <th>Director:</th>
          <td>{{ film.director }}</td>
        </tr>
        <tr>
            <th>Productor(es):</th>
            <td>{{ film.producer }}</td>
        </tr>
        <tr>
            <th>Fecha de lanzamiento:</th>
            <td>{{ film.release_date }}</td>
        </tr>

    </table>

    <h2>Personajes</h2>
    <ul style="list-style-type:circle;">
    {% for c in characters.items %}
        <li><a href="character/?url_param={{ c.0 }}">{{ c.1 }}</a></li>
    {% endfor %}
    </ul>

    <h2>Starships</h2>
    <ul style="list-style-type:circle;">
    {% for s in starships.items %}
        <li><a href="/t1/starship/?url_param={{ s.0 }}">{{ s.1 }}</a></li>
    {% endfor %}
    </ul>

    <h2>Planetas</h2>
    <ul style="list-style-type:circle;">
    {% for p in planets.items %}
        <li><a href="planet/?url_param={{ p.0 }}">{{ p.1 }}</a></li>
    {% endfor %}
    </ul>

{% endif %}

</body>
</html>