<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% ifequal filter 'people' %}
    es personas
{% endifequal %}
{% ifequal filter 'spaceships' %}
    <h2>Resultados de Starships</h2>
    <h3>Nº de resultados: {{ size }}</h3>
    <ul style="list-style-type:circle;">
    {% for s in starships.items %}
        <li><a href="/t1/starship/?url_param={{ s.0 }}">{{ s.1 }}</a></li>
    {% endfor %}
    </ul>
{% endifequal %}
{% ifequal filter 'planets' %}
    es planetas
{% endifequal %}
{% ifequal filter 'films' %}
    es Peliculas
{% endifequal %}

{% if filter and search %}
    {{ filter }}
    {{ search }}
    {{ results }}
{%  endif %}

</body>
</html>